# 🔒 Firebase Configuration
# 🔐 Firebase Configuration
FIREBASE_BASE_URL=https://phones-market-default-rtdb.europe-west1.firebasedatabase.app

# 🤖 Telegram Bot Configuration
TELEGRAM_TOKEN=YOUR_TELEGRAM_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE

# 🔐 Admin Configuration
ADMIN_PASSWORD=YOUR_STRONG_PASSWORD_HERE

# ⏱️ Server Configuration
NODE_ENV=production
PORT=3000